<h1><%= @team.name %></h1>

<p><strong>Nationality:</strong> <%= @team.nationality %></p>

<p><strong>Founded:</strong> <%= @team.founded %></p>

<ul>
	<li><%= link_to "Edit Team", edit_team_path(@team) %></li>
	<li>
		<%= link_to "Delete Team", team_path(@team), data: {
			turbo_method: :delete,
			turbo_confirm: "Are you sure?"
		} %>
	</li>
</ul>